# import necessary packags

In [116]:
import os
import requests
import pandas as pd
from scipy.stats import ttest_ind
from collections import Counter

# get the data

In [117]:
url2 = "http://eaton-lab.org/data/iris-data-dirty.csv"
with open("iris-data.csv", "w") as file:
    file.write(requests.get(url2).text)

# get the data in panda dataframe

In [118]:
df = pd.read_csv("iris-data.csv")

In [119]:
print(df)
#length and width, petal length and width, and species ID

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

# apply column names

In [120]:
column_names = ["sepal length","sepal width","petal length","petal width","species ID"]
df = pd.read_csv("iris-data.csv", names=column_names)

In [121]:
print(df)

     sepal length  sepal width  petal length  petal width      species ID
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# drop NAs

In [122]:
df = df.dropna()
print(df)

     sepal length  sepal width  petal length  petal width      species ID
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[148 rows x 5 columns]

# replace misspelt species IDs

In [123]:
species_list = df['species ID'].tolist()
species_counts = Counter(species_list)
for species, count in species_counts.items():
    print(f'{count} {species}')

df['species ID'] = df['species ID'].str.strip().replace("Iris-setsa","Iris-setosa")
df['species ID'] = df['species ID'].str.strip().replace("Iris-versicolour", "Iris-versicolor")

species_list = df['species ID'].tolist()
species_counts = Counter(species_list)

print("\n")

for species, count in species_counts.items():
    print(f'{count} {species}')

49 Iris-setosa
1 Iris-setsa
1 Iris-versicolour
47 Iris-versicolor
50 Iris-virginica


50 Iris-setosa
48 Iris-versicolor
50 Iris-virginica

In [124]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    148.000000   148.000000    148.000000   148.000000
mean       5.841892     3.058108      3.748649     1.195946
std        0.832586     0.434094      1.773635     0.767882
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.575000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# group by species ID

In [125]:
grouped = df.groupby("species ID")

In [126]:
for species, group in grouped:
    print(f"Summary statistics for {species}: ")
    print(group.describe())
    print("\n")

Summary statistics for Iris-setosa:
       sepal length  sepal width  petal length  petal width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000


Summary statistics for Iris-versicolor:
       sepal length  sepal width  petal length  petal width
count     48.000000    48.000000     48.000000    48.000000
mean       5.935417     2.770833      4.250000     1.322917
std        0.522062     0.316200      0.469948     0.200255
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.575000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000


Summary statistics for Iris-virginica:
       sepal length  sepal width  petal length  petal width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

# thought
##### virginica has the largest sepal length
##### setosa has the largest sepal width
##### virginica has the largest petal length
##### virginica has the largest petal width

# statistical comparison
##### Challenge: Perform formal tests for differences in group means using ttest_ind from the scipy.stats module (you may need to conda install -c conda-forge scipy first. Hint: You can access the data for a specific group using the get_group() method of the groupby object, e.g. if I called my groupby object gb I could say `gb.get_group("Iris-setosa") and it would return a DataFrame for the data for only these samples).

In [127]:
setosa = grouped.get_group("Iris-setosa")
versicolor = grouped.get_group("Iris-versicolor")
virginica = grouped.get_group("Iris-virginica")

In [132]:
for col in column_names[:4]:
    print(f"difference in means for {col}:")
    tval, pval = ttest_ind(setosa[col], versicolor[col])
    print(f"setosa vs versicolor : t-value = {tval:.4f}, p-value = {pval:.4f}")

    tval, pval = ttest_ind(versicolor[col], virginica[col])
    print(f"setosa vs versicolor : t-value = {tval:.4f}, p-value = {pval:.4f}")

    tval, pval = ttest_ind(virginica[col], setosa[col])
    print(f"setosa vs versicolor : t-value = {tval:.4f}, p-value = {pval:.4f}")

    print("\n")

difference in means for sepal length:
setosa vs versicolor : t-value = -10.3665, p-value = 0.0000
setosa vs versicolor : t-value = -5.5399, p-value = 0.0000
setosa vs versicolor : t-value = 15.3862, p-value = 0.0000


difference in means for sepal width:
setosa vs versicolor : t-value = 9.1299, p-value = 0.0000
setosa vs versicolor : t-value = -3.1475, p-value = 0.0022
setosa vs versicolor : t-value = -6.2894, p-value = 0.0000


difference in means for petal length:
setosa vs versicolor : t-value = -39.2333, p-value = 0.0000
setosa vs versicolor : t-value = -12.5498, p-value = 0.0000
setosa vs versicolor : t-value = 49.9657, p-value = 0.0000


difference in means for petal width:
setosa vs versicolor : t-value = -33.4358, p-value = 0.0000
setosa vs versicolor : t-value = -14.4304, p-value = 0.0000
setosa vs versicolor : t-value = 42.7382, p-value = 0.0000