# Notebook 5.3: Session 5 challenges

Here are more challenges to test your knowledge of variables, lists, and for loops.

### Challenges

A. Create code that includes a loop which iterates over the a list of integers and prints the sum. Use
this list as a test case [1, 5, 2, 6] and print the results in this form:
```
The sum of the numbers in the list is 14
```

Hint: Use the += operator, and a variable which is instantiated outside the loop, but modified inside it.

In [4]:
mylist = [1, 5, 2, 6]
sum = 0
for i in mylist:
    sum += i
print(f"The sum of the numbers in the list is {sum}")

The sum of the numbers in the list is 14

B. Write python code to print the following DNA sequence pattern using a loop.
```
CATG
CATGCATG
CATGCATGCATG
CATGCATGCATGCATG
CATGCATGCATGCATGCATG
```

In [6]:
seq = "CATG"
for i in range(6):
    print(seq*i)

CATG
CATGCATG
CATGCATGCATG
CATGCATGCATGCATG
CATGCATGCATGCATGCATG

C. Create code with a nested loop based on the list of lists [["apple", "orange"], ["carrot", "cabbage"], ["chicken", "beef"]] and produces the following output:
```
apple
orange
carrot
cabbage
chicken
beef
```

In [13]:
mylist = [["apple", "orange"], ["carrot", "cabbage"], ["chicken", "beef"]] 

for i in mylist:
    for j in i:
        print(j)

apple
orange
carrot
cabbage
chicken
beef

D. Using the same input list of lists as above modify create new code so it prints the following output:
```
apple
carrot
chicken
orange
cabbage
beef
```

In [21]:
mylist = [["apple", "orange"], ["carrot", "cabbage"], ["chicken", "beef"]] 

temp = mylist[0][1] ##orange
mylist[0][1] = mylist[1][0] ##orange->carrot
mylist[1][0] = mylist[2][0]##carrot->chicken 
mylist[2][0] = mylist[1][1] ##chicken->cabbage
mylist[1][1] = temp ##cabbage->orange

for i in mylist:
    for j in i:
        print(j)

apple
carrot
chicken
orange
cabbage
beef

E. Write a for loop to print the first 20 even numbers starting at 0 (hint: use range()).

In [40]:
for i in range(0, 40, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

F. Write a for loop to print the first 20 odd numbers starting at 101, but print them in descending order.

In [41]:
for i in range(101, 101-(20*2), -2):
    print(i)

101
99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63

G. Using what you have learned in the previous exercises, write code to take a the following 
DNA sequence and print only the bases with even index. For example if the
input sequence is "GCACGG" the output should be "GAG" (remembering that 0 is also even).

In [35]:
seq = """
>Calumma_boettgeri_voucher_FGZC_462
GGAAGTATTAACCAGACACAACTACGAAAACTAATGGCCTACTCATCAATTACTAACC
TAGGGTGGACAATAATTATTTTCACAACCGCACCACACATTGCTACACTAAACATTAT
TATCTACATAATTATACTCATCCCACTATTCATACTCATTAAAAAAATATCTATAAAA
ACACTGCGAGACTCAACAACTACATGAACTACGTCCCCGATAGCAAACACCCTACTAA
TGCTAATACTTCTGTCACTAAGTGGTCTTCCCCCCCTCACAGGTTTCACCCCAAAACT
TTTAATTTTAAACGAACTAATTTTACAAAATTTAACACCCGCTGCAACAATAATAGCC
ATACTATCTCTAATTGGACTATTTTTTTATATCCGAACAAC
"""

In [62]:
seq = """
>Calumma_boettgeri_voucher_FGZC_462
GGAAGTATTAACCAGACACAACTACGAAAACTAATGGCCTACTCATCAATTACTAACC
TAGGGTGGACAATAATTATTTTCACAACCGCACCACACATTGCTACACTAAACATTAT
TATCTACATAATTATACTCATCCCACTATTCATACTCATTAAAAAAATATCTATAAAA
ACACTGCGAGACTCAACAACTACATGAACTACGTCCCCGATAGCAAACACCCTACTAA
TGCTAATACTTCTGTCACTAAGTGGTCTTCCCCCCCTCACAGGTTTCACCCCAAAACT
TTTAATTTTAAACGAACTAATTTTACAAAATTTAACACCCGCTGCAACAATAATAGCC
ATACTATCTCTAATTGGACTATTTTTTTATATCCGAACAAC
"""

seq = seq.split()
seq = seq[1:]

newseq = ""
count = 0
for i in seq:
    for j in i:
        if count%2==0:
            newseq+=j
        count +=1
print(newseq)

GAGATACGCCATCAACATGCATACATCACTGGGAATATTTCCACCCAAATCAATACTATTTCTATTCCTCATTCTCCTAAAAACAAAAATCAATACATCTACAGCCGTGAAACTCATCATCTTTATATGCTCCCTAAGTCCCAACTTATTACACATTAAATTAACGTCAATAACAATTTTATGCATTTAACGAAC